/* Estilos */
body {
    background-color: #f3f4f6;
}

.borde-rojo {
    border-color: #dc3545;
}

.centrar-tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Ajustar la altura deseada. */
}

.centrar-texto {
    text-align: center;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 8px;
}

.margen-inferior-60px {
    margin-top: 60px;
}

.margen-izquierdo-20px {
    margin-left: 20px;
}

.margen-superior-20px {
    margin-top: 20px;
}

.margen-superior-60px {
    margin-top: 60px;
}

.padding-total-10px {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* Estilos de botones  */
.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.boton-2 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/* Botones con colores personalizados */
.boton-primario {
    background-color: #007bff;
    color: #fff;
}

.boton-secundario {
    background-color: #6c757d;
    color: #fff;
}

.boton-exito {
    background-color: #28a745;
    color: #fff;
}

.boton-aviso {
    background-color: #ffc107;
    color: #000;
}

.boton-alerta {
    background-color: #dc3545;
    color: #fff;
}

.boton-ver {
    background-color: #298D7B;
    color: #fff;
}

.boton-enviar {
    background: #29758D;
    color: #fff;
}

/* Estilos de botones señalados */
.boton-primario:hover,
.boton-secundario:hover,
.boton-exito:hover,
.boton-aviso:hover,
.boton-alerta:hover,
.boton-ver:hover,
.boton-enviar:hover {
    opacity: 0.8;
}

/* Estilos de botones presionados */
.boton-primario:active,
.boton-secundario:active,
.boton-exito:active,
.boton-aviso:active,
.boton-alerta:active,
.boton-ver:active,
.boton-enviar:active {
    transform: translateY(1px);
}

/* Estilos de círculos */
.circulo {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circulo-verdadero {
    background: #238958;
}

.circulo-falso {
    background: #D83C3C;
}

/* Estilos de mensajes de errores. */

.alerta {
    background-color: #f8d7da;
    border-radius: 4px;
    border: none;
    color: #721c24;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.alerta-error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.listado-errores {
    margin-top: 10px;
    padding-left: 20px;
    list-style-type: disc;
}

/* Estilos de cursor */
.cursor-apuntador {
    cursor: pointer;
}

/* Estilos de navbar */
a,
a:visited,
a:hover {
    color: #ffffff;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: stretch;
    margin: 5px 0;
    padding: 10px 9px;
    background-color: #772f2f;
    color: white;
    height: 57px;
    align-items: center;
    position: relative
}

.opcion {
    line-height: 60px;
    margin-left: 18px;
    padding: 15px 15px;
    border-radius: 15px;
    height: 30px;
}

.opcion:visited {
    color: white;
}

.opcion:hover {
    background-color: #846565;
}

.opcion img {
    height: 28px;
}

/* Estilo de footer.  */
footer {
    padding: 10px;
    text-align: center;
}

/* Estilo de header. */
header {
    display: flex;
    justify-content: center;
}

/* Estilo de la sección content. */
.content-section {
    padding: 30px 25px;
}

/* Estilos de menú Certificados (index-certificados.blade.php)  */
.contenedor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.contenedor-centrar-columna {
    flex-direction: column;
    height: 154px;
    justify-content: space-around;
    align-items: initial;
}

.content-btn {
    display: flex;
    justify-content: center;
}

.contenedor-cuadrados {
    display: flex;
    gap: 60px;
}

.cuadrado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    text-align: center;
    text-decoration: none;
}

.cuadrado a {
    color: #000;
    font-size: 20px;
}

.cuadrado-1 {
    background-color: #e89f9f;
}

.cuadrado-2 {
    background-color: #e6ea40;
}

.cuadrado-3 {
    background-color: #60af93;
}

.cuadrado-4 {
    background-color: #59a2d7;
}

.cuadrado-5 {
    background-color: #e84823;
}

.btn-seccion {
    background: #772f2f;
    color: white;
    font-weight: 600;
}

.btn-crear {
    background: #008000;
    color: white;
    font-weight: 600;
}

/* Estilos de vista crearConExcel.blade.php (/resources/views/certificados/crearConExcel.blade.php) */
.form-curso {
    width: 60%;
    margin: 30px 20% 0 20%;
}

.cont-check-box {
    padding: 20px 14px;
    border: solid salmon 1px;
    border-radius: 14px;
}

/* Estilos de cartas en vista cardCurso.blade. */
.carta {
    background-color: #fff;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    width: 80%;
    height: 114px;
    display: flex;
    flex-direction: row;
    padding: 5px 18px;
}

.carta-body {
    overflow-y: scroll;
    width: 100%;
    overflow: overlay;
}

.carta-body::-webkit-scrollbar {
    display: none;
}

.carta-body:hover::-webkit-scrollbar {
    display: initial;
}

.carta-body::-webkit-scrollbar-thumb {
    background-color: #09C;
}

.btn-generar {
    width: 136px;
    height: 69px;
    margin: 18px 39px;
}

/* Estilos de <div>.  */
.div-borde-redondeado {
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
}

/* Estilos de la tabla de certificados, de la vista administrarCertificados.blade.php. */
table.tabla-certificados {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 1220px;
    text-align: center;
    border-collapse: collapse;
}

table.tabla-certificados td,
table.tabla-certificados th {
    border: 0px solid #AAAAAA;
    padding: 3px 10px;
}

table.tabla-certificados td {
    position: relative;
}

table.tabla-certificados tbody td {
    font-size: 15px;
}

table.tabla-certificados thead {
    background: #B06762;
    display: table-row-group;
    position: relative;
}

table.tabla-certificados thead th {
    font-size: 18px;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
}

table.tabla-certificados thead::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -10px;
    right: -10px;
    bottom: -1px;
    background-color: #B06762;
    border-radius: 15px;
    z-index: -1;
}

/* Estilos de flechas */
.flecha-arriba,
.flecha-abajo {
  font-size: 15px;
}

