/* Estilos */
body {
    background-color: #f3f4f6;
}

.centrar-texto {
    text-align: center;
}

.margen-izquierdo-20px {
    margin-left: 20px;
}
/* Estilos de botones  */
.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Botones con colores personalizados */
/* Customizable button colors */
.boton-primario {
    background-color: #007bff;
    color: #fff;
}

.boton-secundario {
    background-color: #6c757d;
    color: #fff;
}

.boton-exito {
    background-color: #28a745;
    color: #fff;
}

.boton-aviso {
    background-color: #ffc107;
    color: #000;
}

.boton-alerta {
    background-color: #dc3545;
    color: #fff;
}

/* Button hover styles */
.boton-primario:hover,
.boton-secundario:hover,
.boton-exito:hover,
.boton-aviso:hover,
.boton-alerta:hover {
    opacity: 0.8;
}

/* Button pressing styles */
.boton-primario:active,
.boton-secundario:active,
.boton-exito:active,
.boton-aviso:active,
.boton-alerta:active {
    transform: translateY(1px);
}

/* Estilos de cursor */
.cursor-apuntador {
    cursor: pointer;
}

/* Estilos de navbar */
a,
a:visited,
a:hover {
	color: #ffffff;
	text-decoration: none;
}

nav {
	display: flex;
	justify-content: stretch;
	margin: 5px 0;
	padding: 10px 9px;
	background-color: #772f2f;
	color: white;
	height: 57px;
	align-items: center;
	position: relative
}

.opcion {
	line-height: 60px;
	margin-left: 18px;
	padding: 15px 15px;
	border-radius: 15px;
	height: 30px;
}

.opcion:visited {
	color: white;
}

.opcion:hover {
	background-color: #846565;
}

.opcion img {
	height: 28px;
}

/* Estilo de footer.  */
footer {
	padding: 10px;
	text-align: center;
}

/* Estilo de header. */
header {
	display: flex;
	justify-content: center;
}

/* Estilo de la sección content. */
.content-section {
	padding: 60px 50px;
}

/* Estilos de menú Crear Certificaciones (index-certificados.blade.php)  */
.contenedor {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 30px;
	flex-wrap: wrap;
}

.content-btn {
	display: flex;
	justify-content: center;
}

.btn-seccion {
    background: #772f2f;
	color: white;
	font-weight: 600;
}

.btn-crear {
	background: #008000;
	color: white;
	font-weight: 600;
}

.contenedor-center-column {
	flex-direction: column;
	height: 154px;
	justify-content: space-around;
	align-items: initial;
}
/* Estilos de vista crearConExcel.blade.php (/resources/views/certificados/crearConExcel.blade.php) */
.form-curso{
    width: 60%;
    margin: 30px 20% 0 20%;
}
.cont-check-box{
    padding: 20px 14px;
    border: solid salmon 1px;
    border-radius: 14px;

}
